Dal/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61591/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
  <xs:element name="GetUserAutorization">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAutorizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetUserAutorizationResult" nillable="true" type="q1:StaffWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetServicesResult" nillable="true" type="q2:ArrayOfServicesWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListPositionsResult" nillable="true" type="q3:ArrayOfWorkPositionWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBalsam">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBalsamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListBalsamResult" nillable="true" type="q4:ArrayOfBalsamWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListShampoo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListShampooResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListShampooResult" nillable="true" type="q5:ArrayOfShampooWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListLaque">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListLaqueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListLaqueResult" nillable="true" type="q6:ArrayOfLaqueWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListColor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListColorResult" nillable="true" type="q7:ArrayOfColorWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFoundation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListFoundationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListFoundationResult" nillable="true" type="q8:ArrayOfFoundationWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPowder">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPowderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListPowderResult" nillable="true" type="q9:ArrayOfPowderWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListShadow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListShadowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListShadowResult" nillable="true" type="q10:ArrayOfShadowsWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListMascara">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListMascaraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListMascaraResult" nillable="true" type="q11:ArrayOfMascaraWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListLipstick">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListLipstickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListLipstickResult" nillable="true" type="q12:ArrayOfLipstickWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListTopResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListTopResult" nillable="true" type="q13:ArrayOfNailTopWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBase">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListBaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListBaseResult" nillable="true" type="q14:ArrayOfNailBaseWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPolish">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListPolishResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetListPolishResult" nillable="true" type="q15:ArrayOfNailPolishWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q16:ArrayOfStaffWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="staffWCF" nillable="true" type="q17:StaffWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShampoo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="shampooWCF" nillable="true" type="q18:ShampooWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShampooResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBalsam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="balsamWCF" nillable="true" type="q19:BalsamWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBalsamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="colorWCF" nillable="true" type="q20:ColorWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddColorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLaque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="laqueWCF" nillable="true" type="q21:LaqueWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLaqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFoundation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="foundationWCF" nillable="true" type="q22:FoundationWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFoundationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPowder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="powderWCF" nillable="true" type="q23:PowderWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPowderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShadow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="shadowsWCF" nillable="true" type="q24:ShadowsWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShadowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMascara">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="mascaraWCF" nillable="true" type="q25:MascaraWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMascaraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLipstick">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="lipstickWCF" nillable="true" type="q26:LipstickWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLipstickResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="nailTopWCF" nillable="true" type="q27:NailTopWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="nailBaseWCF" nillable="true" type="q28:NailBaseWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPolish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="nailPolishWCF" nillable="true" type="q29:NailPolishWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPolishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShampoo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="shampooWCF" nillable="true" type="q30:ShampooWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShampooResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBalsam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="balsamWCF" nillable="true" type="q31:BalsamWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBalsamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="colorWCF" nillable="true" type="q32:ColorWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateColorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLaque">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="laqueWCF" nillable="true" type="q33:LaqueWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLaqueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFoundation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="foundationWCF" nillable="true" type="q34:FoundationWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFoundationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePowder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="powderWCF" nillable="true" type="q35:PowderWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePowderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShadow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="shadowsWCF" nillable="true" type="q36:ShadowsWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShadowResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMascara">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="mascaraWCF" nillable="true" type="q37:MascaraWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMascaraResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLipstick">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="lipstickWCF" nillable="true" type="q38:LipstickWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLipstickResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTop">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="nailTopWCF" nillable="true" type="q39:NailTopWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="nailBaseWCF" nillable="true" type="q40:NailBaseWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBaseResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePolish">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WcfService" minOccurs="0" name="nailPolishWCF" nillable="true" type="q41:NailPolishWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePolishResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>