Dal/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61591/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61591/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61591/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
      <xsd:import schemaLocation="http://localhost:61591/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetUserAutorization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAutorization" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserAutorization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAutorizationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_WritingOff_InputMessage">
    <wsdl:part name="parameters" element="tns:WritingOff" />
  </wsdl:message>
  <wsdl:message name="IService1_WritingOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:WritingOffResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="IService1_GetServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListPositions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListPositions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListPositions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListMaterials_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListMaterials" />
  </wsdl:message>
  <wsdl:message name="IService1_GetListMaterials_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IService1_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMaterials_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterials" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMaterials_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChangedQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChangedQuantity" />
  </wsdl:message>
  <wsdl:message name="IService1_GetChangedQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangedQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMaterials_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterials" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateMaterials_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoggs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoggs" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLoggs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoggsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetUserAutorization">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserAutorization" message="tns:IService1_GetUserAutorization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserAutorizationResponse" message="tns:IService1_GetUserAutorization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WritingOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WritingOff" message="tns:IService1_WritingOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WritingOffResponse" message="tns:IService1_WritingOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetServices" message="tns:IService1_GetServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetServicesResponse" message="tns:IService1_GetServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListPositions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListPositions" message="tns:IService1_GetListPositions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListPositionsResponse" message="tns:IService1_GetListPositions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListMaterials">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetListMaterials" message="tns:IService1_GetListMaterials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetListMaterialsResponse" message="tns:IService1_GetListMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteProduct" message="tns:IService1_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteProductResponse" message="tns:IService1_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployees" message="tns:IService1_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeesResponse" message="tns:IService1_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteEmployee" message="tns:IService1_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteEmployeeResponse" message="tns:IService1_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddEmployee" message="tns:IService1_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddEmployeeResponse" message="tns:IService1_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMaterials">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMaterials" message="tns:IService1_AddMaterials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddMaterialsResponse" message="tns:IService1_AddMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChangedQuantity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetChangedQuantity" message="tns:IService1_GetChangedQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetChangedQuantityResponse" message="tns:IService1_GetChangedQuantity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterials">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateMaterials" message="tns:IService1_UpdateMaterials_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateMaterialsResponse" message="tns:IService1_UpdateMaterials_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoggs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLoggs" message="tns:IService1_GetLoggs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLoggsResponse" message="tns:IService1_GetLoggs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserAutorization">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserAutorization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WritingOff">
      <soap:operation soapAction="http://tempuri.org/IService1/WritingOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="http://tempuri.org/IService1/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListPositions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListMaterials">
      <soap:operation soapAction="http://tempuri.org/IService1/GetListMaterials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap:operation soapAction="http://tempuri.org/IService1/AddEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMaterials">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMaterials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangedQuantity">
      <soap:operation soapAction="http://tempuri.org/IService1/GetChangedQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterials">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateMaterials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoggs">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLoggs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61591/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>